<div class="header" ng-controller="loginController">
  <br />
  <div class="logo">
    <img src="./images/logo1.png"></img>
  </div>
  <div class="eChairIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M4 18v3h3v-3h10v3h3v-6H4zm15-8h3v3h-3zM2 10h3v3H2zm15 3H7V5c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2v8z"/></svg>
  </div>
  <div class="hName"><a ui-sref="bookSeat">Parking App</a></div>
  <div class="bDetails">
    <!-- <button class="bDetailsBtn" ng-click="showBookingDetails()">Booking Details</button> -->
    <button class="logoutBtn" style="vertical-align:middle" ui-sref="login"><span>Logout </span></button>
  </div>
  <br />
</div>
